# Django
Django==5.2.4
djangorestframework==3.16.0
drf-spectacular==0.28.0
django-environ==0.12.0
django-cors-headers==4.7.0

# Gunicorn
gunicorn==23.0.0

# Torch
torch==2.7.1
torchvision==0.22.1

# Pillow
pillow==11.3.0

# Numpy
numpy==2.3.2

# OpenCV
opencv_python==4.12.0
